.Start {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Start__ChoseLocationText{
    color: #50514F;
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
    text-align: center;
}
.Start__Button__Conatnier {
    display: flex;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
    width: 42vw;
}

.Start__Button {
    background: linear-gradient(to bottom, #EF594F 50%, #C1DAFF 50%);
    color: #50514F;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    border: 5px solid #50514F;
    color: #50514f;
    font-weight: 700;
    font-size: 1.5em;
    width: 20vw;
    height: 11vh;
    text-align: center;
}

.Start__Button:hover {
    scale: 1.05;
}

.user{
    margin-top: 20vh;
}
.pokemonCardContanier{
    background-color: red;
    width: 350px;
    height: 400px;
    position: relative;
    top:5vh;
    left: 50vw;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 10px;
}
.pokemonImage{
    height: 200px;
    width: 200px
}
.pokemonBackground{
    text-align: center;
    background: linear-gradient(to right, pink,purple);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pokemonName{
    text-align: center;
    font-size: 39px;
    font-weight: lighter;
    margin-block-start: 0;
    padding-top: 10px;
}
.pokemonType{
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    position: absolute;
    top:44%
}
.pokemonATK{
    position: absolute;
    left: 25px;
    bottom: 10px;
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: bolder;
}
.pokemonDEF{
    position: absolute;
    right: 25px;
    bottom: 10px;
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    font-weight: bolder;
}
.pokemonHP{
    position: absolute;
    right: 10px;
    top: -15px;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: bolder;
    display: flex;
    font-size: 24px;
    border-top-right-radius: 10px;
}
.pokemonContent{
    background-color: blue;
    height: 196px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
