body {
  padding: 0;
  margin: 0;
  background-color: darkgray;
}
button{
  border: none;
  box-shadow: none;
  scroll-behavior: smooth;
}
.battleBox{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 3vw;
}
